body {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 2%;
}

#container {
    height: 50vw;
    width: 50vw;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.square {
    border: 0.1px solid lightgrey;
}

#button-div {
    width: 50vw;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

#reset {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#colors-div {
    margin: 0 auto;
    width: 50vw;
    height: 10vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.color {
    height: 3.5vw;
    width: 3.5vw;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.violet {
    background-color: violet;
}

.white {
    background-color: white;
}